/**
 * Tableau Visualizations (About Page)
 */

.tableauPlaceholder {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.tableauViz {
  display: none;
}
