/**
 * Company Info Section
 */

.company-info {
  max-width: 800px;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  border: 1px solid var(--color-gray-lighter);
  border-radius: var(--border-radius-md);
  padding: var(--space-md);
  margin: var(--space-md) auto;
  box-shadow: var(--shadow-lg);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.company-info-shorttext {
  width: 100%;
  max-width: 600px;
  height: 100%;
  padding: var(--space-sm);
  justify-content: center;
  align-items: center;
}

.company-info-longtext p {
  width: 100%;
  max-width: 600px;
  height: 100%;
  text-align: left;
  padding: var(--space-xs);
  margin: 0;
}

.company-info-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: var(--space-sm);
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.company-info h2 {
  margin: 0;
  padding: 3px;
  background-color: var(--color-background);
}

@media (max-width: 768px) {
  .company-info {
    flex-direction: column;
    align-items: center;
  }

  .heading-container,
  .company-info-image {
    width: 100%;
  }

  .company-info-image img {
    width: 100%;
    height: auto;
  }
}
