/**
 * Publications Section
 */

.publications-section {
  padding: var(--space-md);
  background-color: var(--color-primary);
}

.publications-section h2 {
  margin-bottom: var(--space-sm);
  margin-left: var(--space-sm);
  font-size: var(--font-size-xxl);
  color: var(--color-white);
}

.articles-container {
  display: flex;
  overflow-x: auto;
  padding: var(--space-sm);
  gap: var(--space-md);
}

.article {
  flex: 0 0 auto;
  width: 300px;
  padding: var(--space-sm);
  border: 1px solid var(--color-gray-lighter);
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-md);
  transition: transform var(--transition-fast);
}

.article:hover {
  transform: scale(1.05);
}

.article-image {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

.article h3 {
  font-size: var(--font-size-sm);
  min-height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  margin: 0;
  text-align: center;
}

.article h2 {
  font-size: var(--font-size-xs);
  color: var(--color-gray);
  margin: 0;
  text-align: center;
  padding-bottom: var(--space-xs);
  font-style: italic;
}

.article-link {
  display: flex;
  margin-top: var(--space-xs);
  color: var(--color-link);
  text-decoration: none;
}

.article-link:hover {
  text-decoration: underline;
}
