/**
 * Training Section
 */

.training-section {
  padding: var(--space-lg);
  background-color: var(--color-background);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.training-section-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: 300px;
}

.training-section-text {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.training-section-text h1 {
  border-bottom: 2px solid #707070;
}

.video-placeholder {
  width: 45%;
  margin: var(--space-md) auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-lightest);
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius-md);
  padding: var(--space-sm);
  box-shadow: var(--shadow-lg);
}

.video-placeholder video {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-md);
}

@media (max-width: 768px) {
  .training-section {
    flex-direction: column;
    align-items: center;
  }

  .training-section-text,
  .video-placeholder {
    width: 100%;
  }
}
